body
{
    background-color: #085C66; 
}
.container{
	background-color: #FFFFFF;
	box-shadow: 1px 1px 12px #555;
	font-family: Cambria;
	margin-top: 35px;
	margin-top: 15px;
}

header{
	
	font-size: 16px;
}	
h1{
	text-align: center;
	font-size: 35px;
	
}
h3{
	background-color: #085C66;
	color: #FFFFFF;
	font-size: 30px;
	border-radius: 10px 5px 10px 5px;
}
h4{
	color: 	#000000;
	font-size: 25px;
}
h5{
	color: 	#000000;
	font-size: 23px;
	margin-top: 35px;
	margin-bottom: 20px;
}
a:visited 
{
    color: #AAA; 
}

#menu-accordeon {
padding:0;
width: 100px;
list-style:none;
text-align:center;
margin-top: 20px;
}
#menu-accordeon ul{
padding:0;
margin:0;
width: 220px;
list-style:none;
text-align:center;
}
#menu-accordeon  li{
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
}
#menu-accordeon  ul li{
display:inherit;
border-radius:0;
}
#menu-accordeon  ul li:hover{
border-radius:0;
}
#menu-accordeon  ul li{
border-radius:0 0 8px 8px;
}
#menu-accordeon  ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu-accordeon  li:hover ul{
max-height:15em;
}
#menu-accordeon  li{
background-color: #085C66;
background-image: -webkit-linear-gradient(top, #085C66 0%, #333A40 100%);
background-image:linear-gradient(to bottom, #085C66 0%, #333A40 100%);
}
#menu-accordeon li:hover{
background:#D9DADE;
}
#menu-accordeon li li:hover{
background:#E4E6F2;
}
#menu-accordeon a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}
#menu-accordeon ul a{
padding:8px 0;
}
#menu-accordeon li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu-accordeon li:hover a, #menu-accordeon li li:hover a{
color:#000;
}
	
.t-forma{
	display: block;
	font-weight: bold;
	font-size: 16px;
}

.nom{
	font-weight: bold;
	font-size: 22px;
}

form {
    margin: right;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.button {
    margin-left: 109px;
    font-size:14px;
	color:black;
	
}
.button:hover
{
	color:#085C66;
	
}
.button:active
{
	color:green;
}

input:checked + .sub > li {
    height: 2em;
}

.sub > li {
    opacity: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
}
input:checked + .sub > li {
    padding: 0.7em 1em
    height: 1.4em
    opacity: 1
}

.btn_cacher {
	float: right;
	color:black;
	border-style:ridge;
	border-width:1px;
	border-color:black;
	margin-left:1px;
	margin-right:3px;
	margin-top:3px;
	margin-bottom:1px;
	border-radius: 4px 3px 4px 3px;
}
.btn_cacher:hover
{
	color:#085C66;
	border-style:outset;
}

.btn_cacher:active
{
	color:green;
	padding-left:4px;
	padding-right:2px;
	padding-top:4px;
	padding-bottom:2px;
	border-style:inset;
}

#bas_page
{
    	
	margin-top: 25;
    	margin-bottom: 25;
        color: #FFFFFF;
	text-align: center;
}

