
.container{
	background-color: #ecf0f1;
	box-shadow: 1px 1px 12px #555;
	font-family: Cambria;
	
}

header{
	background-color:#99A79A;
	font-size: 16px;
	font-weight: bold;
}	

#menu-accordeon {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 180px;
}
#menu-accordeon ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
#menu-accordeon li {
   background-color:#729EBF; 
   background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
   background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
   border-radius: 6px;
   margin-bottom:2px;
   box-shadow: 3px 3px 3px #999;
   border:solid 1px #333A40;
}
#menu-accordeon li li {
   max-height:0;
   overflow: hidden;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0;
}
#menu-accordeon a {
  display:block;
  color: #fff;
  padding: 8px 0;
  font-family: Cambria;
  font-size:1.2em
}
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
  font-size:1em
}
#menu-accordeon li:hover {
   background: #729EBF
}
#menu-accordeon li li:hover {
   background: #999;
}
#menu-accordeon ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu-accordeon li:hover li {
  max-height: 15em;
}

h1{
	text-align: center;
}
h1{
	font-size: 35px;
}

h3{
	background-color: #99A79A;
	color: #FFFFFF;
	font-size: 30px;

}

h4{
	background-color: #ecf0f1;
	color: 	#000000;
	font-size: 25px;
}
	
.t-forma{
	display: block;
	font-weight: bold;
	font-size: 16px;
}

.nom{
	font-weight: bold;
	font-size: 22px;
}


form {
    margin: right;
    width: 400px;
   
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}


}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}




textarea {
    vertical-align: top;

    height: 5em;
    resize: vertical;
}

.button {
    padding-left: 90px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.sub > li {
    height: 0;
    overflow: hidden;
}

input[type="radio"],
input[type="checkbox"] {
    display: none
}

input:checked + .sub > li {
    height: 2em;
}

.sub > li {
    transition: all 0.25s ease-in-out // n'hésitez pas à jouer avec ces valeurs
}

.sub > li {
    opacity: 0;
    height: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;
}
input:checked + .sub > li {
    padding: 0.7em 1em
    height: 1.4em
    opacity: 1
}


